.ui-panel.leftMenuOverlay {
    height:auto;
    min-height:0;
    position:fixed;
    top:0;
    bottom:0;
    overflow:hidden;
    
}
.leftMenuOverlay {
    border-radius: 0 180px 180px 0;
    
}
.panelNavList {
 	height:430px;   
}

.panelNavList li{
    
 	 height:60px; 
}

ul.panelNavList li > a.ui-btn {
 	height:46px;   
}
ul.panelNavList li a.ui-btn > h3 {
 	margin: 12px 0 0 0; 
    font-weight: normal;
	-webkit-margin-start: 2em;
    color:#22aadd;
}

.panelNavList.ui-listview > .ui-li-has-icon > .ui-btn > img:first-child {

max-height: 2em;
max-width: 2em;
}

.panelNavList a.ui-btn-icon-right:after{
 	visibility:hidden;   
}
.ui-field-contain textarea.ui-input-text.sideStats {
    font-size: .7em;
    font-weight: normal;
    resize:none;
}

