
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.3/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_2 */
#AvatarMain_mobilebutton_2 {

}
.ui-btn.AvatarMain_mobilebutton_2 {

}
/* mobilecontainer */
.ui-content.AvatarMain_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* mobileimage_19 */
.AvatarMain_mobileimage_19 {
	margin: 0px 0px 0px 0px;
	width: 290px; height: 395px;
	display: block;
}
/* mobilefooter */
.AvatarMain_mobilefooter {
	min-height:38px;
}
/* leftMenuAvatar */
.AvatarMain_leftMenuAvatar .ui-panel-inner {
	padding: 15px 0px 15px 0px;
}
.AvatarMain_leftMenuAvatar:focus {
	outline: 0;
}
/* panelNavListAvatar */
.ui-page .AvatarMain_panelNavListAvatar {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_5 */
/* mobilelistitembutton_6 */
.AvatarMain_mobilelistitembutton_6 {

}
/* mobilelistitem_7 */
/* mobilelistitembutton_8 */
.AvatarMain_mobilelistitembutton_8 {

}
/* mobilelistitem_9 */
/* mobilelistitembutton_10 */
.AvatarMain_mobilelistitembutton_10 {

}
/* mobilelistitem_11 */
/* mobilelistitembutton_12 */
.AvatarMain_mobilelistitembutton_12 {

}
/* mobilelistitem_13 */
/* mobilelistitembutton_14 */
.AvatarMain_mobilelistitembutton_14 {

}
/* mobilelistitem_15 */
/* mobilelistitembutton_16 */
.AvatarMain_mobilelistitembutton_16 {

}
/* mobilelistitem_17 */
/* mobilelistitembutton_18 */
.AvatarMain_mobilelistitembutton_18 {

}