
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.3/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_2 */
#SettingsPage_mobilebutton_2 {

}
.ui-btn.SettingsPage_mobilebutton_2 {

}
/* mobilecontainer */
.ui-content.SettingsPage_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* mobileimage_19 */
.SettingsPage_mobileimage_19 {
	margin: 0px 0px 0px 0px;
	width: 290px; height: 395px;
	display: block;
}
/* mobilefooter */
.SettingsPage_mobilefooter {
	min-height:38px;
}
/* leftMenuSettings */
.SettingsPage_leftMenuSettings .ui-panel-inner {
	padding: 15px 0px 15px 0px;
}
.SettingsPage_leftMenuSettings:focus {
	outline: 0;
}
/* panelNavListSettings */
.ui-page .SettingsPage_panelNavListSettings {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_5 */
/* mobilelistitembutton_6 */
.SettingsPage_mobilelistitembutton_6 {

}
/* mobilelistitem_7 */
/* mobilelistitembutton_8 */
.SettingsPage_mobilelistitembutton_8 {

}
/* mobilelistitem_9 */
/* mobilelistitembutton_10 */
.SettingsPage_mobilelistitembutton_10 {

}
/* mobilelistitem_11 */
/* mobilelistitembutton_12 */
.SettingsPage_mobilelistitembutton_12 {

}
/* mobilelistitem_13 */
/* mobilelistitembutton_14 */
.SettingsPage_mobilelistitembutton_14 {

}
/* mobilelistitem_15 */
/* mobilelistitembutton_16 */
.SettingsPage_mobilelistitembutton_16 {

}
/* mobilelistitem_17 */
/* mobilelistitembutton_18 */
.ReplayPage_mobilelistitembutton_18 {

}