
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.3/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_6 */
#startScreen_mobilebutton_6 {

}
.ui-btn.startScreen_mobilebutton_6 {

}
/* mobilecontainer1 */
.ui-content.startScreen_mobilecontainer1 {
	padding: 0px 0px 0px 0px;
}
/* mobilegrid_25 */
.startScreen_mobilegrid_25 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_25 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_25_row_0, .startScreen_mobilegrid_25_row_0 > td {
	height: auto
}
/* mobilegridcell_26 */
.startScreen_mobilegridcell_26 {
	height:auto !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.startScreen_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_31 */
.startScreen_mobilegrid_31 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.startScreen_mobilegrid_31 > tr > td {
	vertical-align: top;
}
.startScreen_mobilegrid_31_row_0, .startScreen_mobilegrid_31_row_0 > td {
	height: 30px
}
.startScreen_mobilegrid_31_row_1, .startScreen_mobilegrid_31_row_1 > td {
	height: 30px
}
.startScreen_mobilegrid_31_row_2, .startScreen_mobilegrid_31_row_2 > td {
	height: 30px
}
.startScreen_mobilegrid_31_row_3, .startScreen_mobilegrid_31_row_3 > td {
	height: 30px
}
.startScreen_mobilegrid_31_row_4, .startScreen_mobilegrid_31_row_4 > td {
	height: 30px
}
/* mobilegridcell_32 */
.startScreen_mobilegridcell_32 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.startScreen_mobilegridcell_32 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextarea_39 */
.startScreen_mobiletextarea_39 {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_34 */
.startScreen_mobilegridcell_34 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.startScreen_mobilegridcell_34 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextarea_40 */
.startScreen_mobiletextarea_40 {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_36 */
.startScreen_mobilegridcell_36 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.startScreen_mobilegridcell_36 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextarea_41 */
.startScreen_mobiletextarea_41 {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_37 */
.startScreen_mobilegridcell_37 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.startScreen_mobilegridcell_37 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextarea_42 */
.startScreen_mobiletextarea_42 {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_38 */
.startScreen_mobilegridcell_38 {
	height:30px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.startScreen_mobilegridcell_38 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobiletextarea_43 */
.startScreen_mobiletextarea_43 {
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_27 */
.startScreen_mobilegridcell_27 {
	height:auto !important;
	width:240px;
	padding: 0px 0px 0px 0px;
}
.startScreen_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_30 */
.startScreen_mobileimage_30 {
	margin: 0px 0px 0px 0px;
	width: 240px; height: 375px;
	display: block;
}
/* mobilefooter1 */
.startScreen_mobilefooter1 {
	min-height:38px;
}
/* mainLeftMenu */
.startScreen_mainLeftMenu .ui-panel-inner {
	padding: 15px 0px 15px 0px;
}
.startScreen_mainLeftMenu:focus {
	outline: 0;
}
/* panelNavListMain */
.ui-page .startScreen_panelNavListMain {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_9 */
/* mobilelistitembutton_10 */
.startScreen_mobilelistitembutton_10 {

}
/* mobilelistitem_11 */
/* mobilelistitembutton_12 */
.startScreen_mobilelistitembutton_12 {

}
/* mobilelistitem_13 */
/* mobilelistitembutton_14 */
.startScreen_mobilelistitembutton_14 {

}
/* mobilelistitem_15 */
/* mobilelistitembutton_16 */
.startScreen_mobilelistitembutton_16 {

}
/* mobilelistitem_17 */
/* mobilelistitembutton_18 */
.startScreen_mobilelistitembutton_18 {

}
/* mobilelistitem_19 */
/* mobilelistitembutton_20 */
.startScreen_mobilelistitembutton_20 {

}
/* mobilelistitem_21 */
/* mobilelistitembutton_22 */
.startScreen_mobilelistitembutton_22 {

}