div.page {
	height: 588px;
	width: 360px;
}
div.header {
	height: 44px;
	width: 360px;
}
div.footer {
	display:none;
}
.ui-content {
	padding:0em;
}
div.pagestart {
	background: transparent url('Images/nexus5-homeScreenWChat_02.png') no-repeat center 44px fixed; 
	
}
div.pageavatar {
	background: transparent url('Images/nexus5-avatarBoard2Choice_02.png') no-repeat center 44px fixed; 
}
div.pageshop {
	background: transparent url('Images/nexus5-burtonPage_02.png') no-repeat center 44px fixed; 
}
div.pagefriends {
	background: transparent url('Images/nexus5-communityScreen-v3_02.png') no-repeat center 44px fixed; 
}
.fullpage {display:block; width: 360px; height: 588px;}
div.pagereplay {
	background: transparent url('Images/nexus5-replayScreen_02.png') no-repeat center 44px fixed; 
}
div.pagereplayDisplay {
	background: transparent url('Images/nexus5-transitionScreen_02.png') no-repeat center 44px fixed; 
}

div.pageresort {
	background: transparent url('Images/nexus5-resortScreen-v2_02.png') no-repeat center 44px fixed; 
}
div.pagesettings {
	background: transparent url('Images/nexus5-settingsScreen-v2_02.png') no-repeat center 44px fixed; 
}
div.pagestart,div.pageavatar,div.pageshop,div.pagefriends, div.pagereplay,div.pagereplayDisplay ,div.pageresort,div.pagesettings{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	top: 0px;
  	background-size: 360px 588px;
  	width: 360px;
  	height: 588px;
  	padding: 0em;
}

div.startheader {
	background: transparent url('Images/nexus5-homeScreenWChat_01.png') no-repeat top left fixed;
}
div.avatarheader {
	background: transparent url('Images/nexus5-avatarBoard2Choice_01.png') no-repeat top left fixed; 
}
div.shopheader {
	background: transparent url('Images/nexus5-burtonPage_01.png') no-repeat top left fixed; 
}
div.friendsheader {
	background: transparent url('Images/nexus5-communityTopBar_01.png') no-repeat top left fixed; 
}
div.replayheader {
	background: transparent url('Images/nexus5-instantReplayTopBar_01.png') no-repeat top left fixed; 
}
div.replayDisplayheader {
	background: transparent url('Images/nexus5-transitionScreen_01.png') no-repeat top left fixed; 
}
div.resortheader {
	background: transparent url('Images/nexus5-resortTopbar_01.png') no-repeat top left fixed; 
}
div.settingsheader {
	background: transparent url('Images/nexus5-topbar-SettingsScreen_01.png') no-repeat top left fixed; 
}
div.startheader,div.avatarheader ,div.shopheader,div.friendsheader,div.replayheader,div.replayDisplayheader ,div.resortheader,div.settingsheader {
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
div.headerclass {
  	top: 0;
  	display: block;
  	background-size: 360px 44px;
  	height: 44px;
  	width: 360px;
  	border-width: 0;
	overflow: visible;
	overflow-x: hidden;
	padding: 0em;
	margin:0;
}

div.header.start {
	display:none;
}
div.pagestart p, div.pageavatar p {
	margin:0;
	padding:0;
}

div#avatar {
	
}

div.header.avatar {
	background: transparent url('Images/nexus5-avatarBoard2Choice_02.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.ui-loading .ui-loader {display:none;}
a.menulink { width: 55px; height: 44px; display: block;}

.navpanel {
	background-color: #141720;
	background-image: url('Images/nexus5-navOverlay2.png');
	background-repeat: no-repeat;
	background-size: 360px 632px;
}

.ui-page-theme-a .ui-body-inherit.navpanel {
	background-color: #141720;
	background-color:transparent;
	width: 230px;
	box-shadow: none;
}
.navpanel .ui-panel-inner {
	padding: 0px;
}
.navpanel .ui-panel-inner ul {
	list-style-type: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
.navpanel .ui-panel-inner ul li {

}
.navpanel .ui-panel-inner ul li a {
	display: block;
	width: 100%;
	height: 105px;
}
ul.homeSideNav {
	list-style-type: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
ul.homeSideNav li a {
	display: block;
	width: 30%;
	height: 95px;
}
ul.homeSideNav li a.one {
	display: block;
	width: 30%;
	height: 100px;
}
ul.homeSideNav li a.two {
	display: block;
	width: 30%;
	height: 100px;
}
ul.homeSideNav li a.three {
	display: block;
	width: 30%;
	height: 95px;
}
ul.homeSideNav li a.four {
	display: block;
	width: 30%;
	height: 100px;
}
ul.homeSideNav li a.five {
	display: block;
	width: 30%;
	height: 100px;
}





